@{
    ViewBag.Title = "Incluir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Usuario/Incluir.css" rel="stylesheet" />

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/Usuario/Incluir.js"></script>


<h2>Incluir</h2>
<div id="DivUsuario">
    <form id="frmUsuario" action="~/Usuario/Incluir" method="post">
        <label>Nome Usuário:</label>
        <input type="text" id="txtNome" name="Nome" />
        <span style="color:red;" id="vdlNome"></span>
        <br />

        <label>Idade Usuário:</label>
        <input type="number" id="txtIdade" name="Idade" />
        <span style="color:red;" id="vdlIdade"></span>
        <br />

        <label>Data de nascimento Usuário:</label>
        <input type="date" id="txtDatadeNascimeto" name="DatadeNascimeto" />
        <br />

        <label>Cpf Usuário:</label>
        <input type="text" id="txtCpf" name="Cpf" />
        <span style="color:red;" id="error"></span>
        <span style="color:#00ff21;" id="success"></span>

        <br />

        <label>Sexo Usuário:</label>
        <select id="ddlSexo">
            <option>Masculino</option>
            <option>Feminino</option>

        </select>
        <br />

        <input id="btnSalvar" type="button" value="Salvar" />

    </form>
</div>