@{
    ViewBag.Title = "Incluir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Usuario/Incluir.css" rel="stylesheet" />

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/Usuario/Incluir.js"></script>


<h2>Incluir</h2>
<div id="DivUsuario">
    <form id="frmUsuario" action="~/Usuario/Incluir" method="post">
        <label>Nome Usuário:</label>
        <input type="text" id="txtNome" name="Nome" />

        <span id="errorNome"></span>

        <br />

        <label>Idade Usuário:</label>
        <input type="number" min="18" max="100" id="txtIdade" name="Idade" />

        <span id="errorIdade"></span>
        <br />

        <label>Data de nascimento Usuário:</label>
        <input type="date" id="txtDatadeNascimeto" name="DatadeNascimeto" />
        
        <span id="errorData"></span>

        <br />

        <label>Cpf Usuário:</label>
        <input type="text" id="txtCpf" name="Cpf" maxlength="11" />

        <span id="errorCpf"></span>
        <br />

        <label>Sexo Usuário:</label>
        <select id="ddlSexo">
            <option value="">Selecione ...</option>
            <option value="m">Masculino</option>
            <option value="f">Feminino</option>
        </select>
        <span id="errorSexo"></span>

        <br />

        <input id="btnSalvar" type="button" value="Salvar" />

    </form>
</div>