<li class="list-group-item my-3 mx-5 border-0">
    <a asp-action="Novo" asp-controller="Livro">
        <img class="novo-livro img-fluid" src="~/images/livro-novo.png" alt="Incluir Livro">
    </a>
</li>