
h2 {
    font-family: sans-serif;
    font-weight: 600;
    color: #000;
}

#DivUsuario {
    display: flex;
    justify-content: center;
    align-items: center;
}

 #frmUsuario {
        background: #f3f3f3;
        width: 30rem;
        margin: 15px 0;
        padding: 5px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1.5px #000 solid;
        border-radius: 5px;
        animation: mudacor 10s linear infinite;
    }

input[type=text], input[type=number], input[type=date], select[option] {
    text-align: center;
    width: 100px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
}

    input[type=text]:focus {
        width: 250px;
        animation: mudacor 10s linear infinite;
    }

    input[type=number]:focus {
        width: 250px;
    }

    input[type=date]:focus {
        width: 250px;
    }

    select:focus {
        width: 110px;
    }

@keyframes mudacor {
    0% {
        border-color: red;
    }

    25% {
        border-color: orangered;
    }

    50% {
        border-color: blue;
    }

    100% {
        border-color: green;
    }
}

span{
    color:red;
    font-weight:bold;
}