body {
    background: #dcd1f0;
}

h2 {
    font-family: sans-serif;
    font-weight: 600;
    color: #000;
}

#DivUsuario {
    display: block;
    justify-content: center;
    align-items: center;
}

#frmUsuario {
    background: #f3f3f3;
    width: 22rem;
    margin: 15px 0;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1.5px #000 solid;
    border-radius: 5px;
    animation: mudacor 10s linear infinite;
}

input, select {
    color: #000;
    text-align: center;
    width: 250px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
}

    input[type=text]:focus {
        width: 250px;
        animation: mudacor 10s linear infinite;
        background: #dcd1f0;
    }

    input[type=number]:focus {
        width: 250px;
        animation: mudacor 10s linear infinite;
        background: #dcd1f0;
    }

    input[type=date]:focus {
        width: 250px;
        animation: mudacor 10s linear infinite;
        background: #dcd1f0;
    }

    select:focus {
        width: 250px;
        animation: mudacor 10s linear infinite;
        background: #dcd1f0;
    }

@keyframes mudacor {
    0% {
        border-color: red;
    }

    25% {
        border-color: orangered;
    }

    50% {
        border-color: blue;
    }

    100% {
        border-color: green;
    }
}

.badge {
    background: #f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #400b65;
    animation: mudacor 10s linear infinite;
}

.btn {
    display: block;
    justify-content: center;
    align-items: center;
    color: #400b65;
    animation: mudacor 10s linear infinite;
}

    .btn:hover {
        background: #f3f3;
    }

.badge:empty {
    display: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
